

<div class="hero-image-container group">
    <%= render 'layouts/nav' %>
    <a href="https://www.facebook.com/socialplaygrnd"><img id="facebook-icon" src="<%= asset_path( 'facebook-128.png') %>"></a>
    <a href="https://twitter.com/socialplaygrnd"><img id="twitter-icon" src="<%= asset_path( 'twitter-128.png') %>"></a>
    <a href="http://instagram.com/socialplaygrnd"><img id="instagram-icon" src="<%= asset_path( 'instagram-6-128.png') %>"></a>
    <p class="gif-hero-text">gifgif booth.</br>an evolution in photo booths.</p>
    <img id="gif-foreground-hero" src="<%= asset_path( 'NEW_GIF-Foreground-FInal-compressor.png') %>" class="responsive-img">
</div>
 


             <!-- ************  /GIf Nav and hero image  ************  -->


<div class="round-shadow quote-section-1">
    <div class="container">
        <div class="content1-quote-gif">
            <h2 class="gif-text center">Event photo creation at its best</h2>
        </div>
    </div>
</div>




<div class="gif-icon-section gif-no-sprite">
    <div class="row">
        <div class="col s12 m12 l4 icon-block-1">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'Gif finger.png' ) %>"></i></h2>
            <h5 class="center">Press the button &</br><span style="font-family: 'gotham_boldregular'">DO YOUR THING</span></h5>
    
            <p class="light"></p>
          </div>
        </div>

        <div class="col s12 m12 l4 icon-block-2">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'SMS.png' ) %>"></i></h2>
            <h5 class="center">Links sent by SMS so</br>it's <span style="font-family: 'gotham_boldregular'">EASY TO SHARE</span></h5>
    
            <p class="light"></p>
          </div>
        </div>

    
        <div class="col s12 m12 l4 icon-block-3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i><img src="<%= asset_path( 'loudspeaker31 (1).png' ) %>"></h2>
            <h5 class="center">Branded GIF's</br><span style="font-family: 'gotham_boldregular'">INCREASE EXPOSURE</span></h5>
    
            <p class="light"></p>
          </div>
        </div>
    </div>
</div> 


<div class="gif-icon-section gif-sprites">
    <div class="row">
 
        <div class="col s12 m12 l4 icon-block-1">
          <div class="icon-block">
            <h2 class="center brown-text gif-finger-sprite"></h2>
            <h5 class="center">Press the button &</br><span style="font-family: 'gotham_boldregular'">DO YOUR THING</span></h5>
    
            <p class="light"></p>
          </div>
        </div>
        
        <div class="col s12 m12 l4 icon-block-2">
          <div class="icon-block">
            <h2 class="center brown-text gif-phone-sprite"></h2>
            <h5 class="center">Links sent by SMS so</br>it's <span style="font-family: 'gotham_boldregular'">EASY TO SHARE</span></h5>
    
            <p class="light"></p>
          </div>
        </div>
        
        <div class="col s12 m12 l4 icon-block-3">
          <div class="icon-block">
            <h2 class="center brown-text gif-megaphone-sprite"></h2>
            <h5 class="center">Branded GIF's</br><span style="font-family: 'gotham_boldregular'">INCREASE EXPOSURE</span></h5>
    
            <p class="light"></p>
          </div>
        </div>
    </div>
</div>                       <!-- ************  ICON SECTION  ************  -->



<video class="responsive-video gifvideo" poster="/assets/gif-video-thumbnail.png" controls>
    <source src="http://player.vimeo.com/external/108245583.hd.mp4?s=22b4db588f6e479cc4eb19e7918c7e42" type="video/mp4">
</video>




<div class="css3-shadow quote2-section">
<div class="container">
    <div class="section">
        <div class="quote-section center">
            <h2 class="gif-new-concept-quote"><strong>a new concept</br>in social event photography</strong></h2>
        </div>
    </div>
</div>    
</div>





<div class="blurb-on-image">
    <img src="<%= asset_path('gifPartyImage.png') %>">
    <p class=""><span class="gif-image-text-header" style="font-family: 'gotham_boldregular'">Take your event to the next level</span></br></br>GIFGIF takes a series of still images and turns them into an animated GIF, ready to share to Facebook, Twitter or Instagram.</p>
    <img class="blurb-gif-logo" src="<%= asset_path( 'GifGif_Logo_Master_Light.png' ) %>">
</div>

    
    <!-- ********** SMALL SCREEN ********** -->
<div class="blurb-on-image-small">
    <img src="<%= asset_path('gifPartyImage.png') %>">
    <img class="blurb-gif-logo" src="<%= asset_path( 'GifGif_Logo_Master_Light.png' ) %>">
</div>
<div class="container blurb-container">
    <div class="row blurb-below-image-row">
        <div class="blurb-below-image">
            <p class="small-blurb-p flow-text"><span class="blurb-under-header" style="font-family: 'gotham_boldregular'">Take your event to the next level</span></br></br><p style="font-family: 'gotham_bookregular'" class="gif-quote-under-image">GIFGIF takes a series of still images and turns them into an animated GIF, ready to share to Facebook, Twitter or Instagram.</p></p>
        </div>
    </div>
</div>


             <!-------------------------------------------->
             <!--         ipad with gif section  -->
             <!-------------------------------------------->


<div class="container ipad-container">
    <div class="row">
        <div id="wrapper", class="col l8">
        
             <!--iPad -->
            <div class="ipad-front">
            <div class="ipad-front-camera"><span></span></div>
            <div class="ipad-front-display"><img src="<%= asset_path('ipad-gif.gif')%>"></div>
            <div class="ipad-front-home-button"><span></span></div>
            </div>
             <!--/iPad -->
        
        </div>
        
         <!--writing next to ipad -->
        <ul class="col l4 ipad-text-large">
            <li style="">
                <p class=""><span class="branding" style="font-family: 'gotham_boldregular'">BRANDING</span></br></br>The photos are branded for increased exposure.</p>
            </li>
            <li style="">
                <p class=""><span class="live-gallery" style="font-family: 'gotham_boldregular'">LIVE GALLERY</span></br></br>A live image gallery is updated instantly after every photo is taken for rapid sharing.</p>
            </li>
            <li style="">
                <p class="">Visit <span class="gifgifglobal-link" style="font-family: 'gotham_boldregular'"><a href="http://gifgif.global">GIFGIF.GLOBAL</a></span></p>
            </li>
        </ul>
         <!--/writing next to ipad -->
    </div>
</div>

<div class="container small-ipad-container">
    <div class="row">
        <div id="small-wrapper">
        
            <!-- iPad -->
            <div class="small-ipad-front">
            <div class="small-ipad-front-camera"><span></span></div>
            <div class="small-ipad-front-display"><img src="<%= asset_path('ipad-gif.gif')%>"></div>
            <div class="small-ipad-front-home-button"><span></span></div>
            </div>
            <!-- /iPad -->
        
        </div>
    </div>
</div>    

<div class="container small-ipad-gif-text-container">
    <div class="container">
        <div class="col s12 ipad-section-content-small">
            <ul class="staggered-test-small">
                <li style="opacity:0">
                    <p class="branding"><span class="li-header-ipad" style="font-family: 'gotham_boldregular">BRANDING</span></br></br><span class="li-body-ipad" style="font-family: 'gotham_bookregular'">The photos are branded for</br>increased exposure.</span></p></br>
                </li>
            
                <li style="opacity:0">
                    <p class="live-gallery"><span class="li-header-ipad" style="font-family: 'gotham_boldregular">LIVE GALLERY</span></br></br><span class="li-body-ipad" style="font-family: 'gotham_bookregular'">A live image gallery is updated</br>instantly after every photo is</br>taken for rapid sharing.</span></p></br>
                </li>
            
                <li style="opacity:0">
                    </br><p class="gifgif-global"><span style="font-family: 'gotham_bookregular'">Visit </span><span style="font-family: 'gotham_boldregular"><a href="http://gifgif.global" style="text-decoration: none">GIFGIF.GLOBAL</a></span></p>
                </li>
            </ul>
        </div>
    </div>
</div>
        
        
        
                                        <!--  **********  small screen  ********** -->
        
        
        
        
    </div>
</div>



<!--gif strip section --------------------------->


<div class="gif-strip">
    <img src="<%= asset_path('71991.gif') %>">
    <img src="<%= asset_path('72972.gif') %>">
    <img src="<%= asset_path('mini park lane.gif') %>">
    <img src="<%= asset_path('73807.gif') %>">
    <img src="<%= asset_path('73526.gif') %>">
</div>


<div class="small-gif-strip">
    <img src="<%= asset_path('71991.gif') %>">
    <img src="<%= asset_path('73807.gif') %>">
    <img src="<%= asset_path('mini park lane.gif') %>">
</div>





<div class="orange-quote-section center">
    <h2>Want the GifGif Booth</br>at your next event?</h2>
    <a href=""><p class="book-now-button">Book it now</p></a>
</div>


<div class="branded-selfies-section center">
    <h2 class="center">Like the GifGif?</br>Why not check out our branded selfies?</h2>
    <a href="#"><p>Branded selfies</p></a>
</div>










<!--<div class="hi">-->
<!--</div>-->