<div class="hero-image-container group">
    <%= render 'layouts/navigation' %>
    <img id="gif-foreground-hero" src="<%= asset_path( 'GIF Foreground FInal.png') %>" class="responsive-img">
</div>



<!--<div class="parallax-container">-->
<!--    <%= render 'layouts/navigation' %>-->
<!--    <img src="<%= asset_path('GIF Foreground FInal.png')%>">-->
<!--     <div class="parallax"><img src="<%= asset_path( 'Gif Background Final.png') %>" class="responsive-img"></div>-->
<!--</div>-->

<div class="round-shadow">
    <div class="container">
        <div class="content1-quote">
            <h2 class="center">Event photo creation at its best</h2>
        </div>
    </div>
</div>




<div class="icon_section">
    <div class="row">
        <div class="col s12 m12 l4 icon-block-1">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'Gif finger.png' ) %>"></i></h2>
            <h5 class="center">Press the button &</br><strong>DO YOUR THING</strong></h5>
    
            <p class="light"></p>
          </div>
        </div>
    
        <div class="col s12 m12 l4 icon-block-2">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'SMS.png' ) %>"></i></h2>
            <h5 class="center">Links sent by SMS so</br>it's <strong>EASY TO SHARE</strong></h5>
    
            <p class="light"></p>
          </div>
        </div>
    
        <div class="col s12 m12 l4 icon-block-3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i><img src="<%= asset_path( 'gif share.png' ) %>"></h2>
            <h5 class="center">Branded GIF's</br><strong>INCREASE EXPOSURE</strong></h5>
    
            <p class="light"></p>
          </div>
        </div>
    </div>
</div>                       <!-- ************  ICON SECTION  ************  -->



<video class="responsive-video gifvideo" controls>
    <source src="http://player.vimeo.com/external/108245583.hd.mp4?s=22b4db588f6e479cc4eb19e7918c7e42" type="video/mp4">
</video>
    
    

<div class="css3-shadow">
<div class="container">
    <div class="section">
        <div class="quote-section center">
            <h2><strong>a new concept in</br>social event photography</strong></h2>
        </div>
    </div>
</div>    
</div>





<div class="blurb-on-image">
    <img src="<%= asset_path('gifPartyImage.png') %>">
    <p class="flow-text"><strong>Take your event to the next level</strong></br></br>GIFGIF takes a series of still images and turns them into an animated GIF, ready to share to Facebook, Twitter or Instagram.</p>
    <img class="blurb-gif-logo" src="<%= asset_path( 'GifGif_Logo_Master_Light.png' ) %>">
</div>

    
    <!-- ********** SMALL SCREEN ********** -->
<div class="blurb-on-image-small">
    <img src="<%= asset_path('gifPartyImage.png') %>">
    <img class="blurb-gif-logo" src="<%= asset_path( 'GifGif_Logo_Master_Light.png' ) %>">
</div>
<div class="container">
    <div class="row blurb-below-image-row">
        <div class="blurb-below-image col s10 offset-s1">
            <p class="flow-text"><strong>Take your event to the next level</strong></br></br><span class="gif-quote-under-image">GIFGIF takes a series of still images and turns them into an animated GIF, ready to share to Facebook, Twitter or Instagram.</span></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ipad-div">
        
        <img  class="col s12 m7 l8" src="<%= asset_path('ipadTransparent.png') %>">
        
        <div class="col s12 m5 l4 ipad-section-content" style="height:50%">
            <ul class="staggered-test">
                <li style="opacity:0">
                    <p class="flow-text"><strong>BRANDING</strong></br></br>The photos are branded for increased exposure.</p>
                </li>
                <li style="opacity:0">
                    <p class="flow-text"><strong>LIVE GALLERY</strong></br></br>A live image gallery is updated instantly after every photo is taken for rapid sharing.</p>
                </li>
                <li style="opacity:0">
                    <p class="flow-text">Visit <strong>GIFGIF.GLOBAL</strong></p>
                </li>
            </ul>
        </div>



        
                                        <!--  **********  small screen  ********** -->
        <div class="container">
            <div class="container">
            <div class="col s12 ipad-section-content-small">
                <ul class="staggered-test-small">
                    <li style="opacity:0">
                        <p class="branding"><strong>BRANDING</strong></br></br>The photos are branded for</br>increased exposure.</p></br>
                    </li>
                    <hr>
                    <li style="opacity:0">
                        <p class="live-gallery"><strong>LIVE GALLERY</strong></br></br>A live image gallery is updated</br>instantly after every photo is</br>taken for rapid sharing.</p></br>
                    </li>
                    <hr>
                    <li style="opacity:0">
                        </br><p class="gifgif-global">Visit <strong><a href="http://gifgif.global" style="text-decoration: none">GIFGIF.GLOBAL</a></strong></p>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        
        
        
    </div>
</div>


<div class="gif-strip">
    <img src="<%= asset_path('3703.gif') %>">
    <img src="<%= asset_path('8563.gif') %>">
    <img src="<%= asset_path('44233.gif') %>">
    <img src="<%= asset_path('50595.gif') %>">
    <img src="<%= asset_path('51232.gif') %>">
</div>


<div class="section-orange-bg center">
    <h2>Want the GifGif Booth</br>at your next event?</h2>
    <a href="#" class="waves-effect waves-light btn-large">Book it now</a>
</div>


<div class="section-branded-selfies center">
    <h2>Like the GifGif? Why not check out our branded selfies?</h2>
    <a href="#" class="waves-effect waves-light btn-large">Branded selfies</a>
</div>



<div class="container">
    <div class="row">
        <div class="gif-sprite">
        </div>
    </div>
</div>

<div class="hi">
</div>







<footer>
    <div class="container center">
        <p>© COPYRIGHT 2014 SOCIAL PLAYGROUND.</p>
    </div>
</footer>


