             <!-------------------------------------------->
             <!--         HomePage Hero Section           -->
             <!-------------------------------------------->




<div class="homepage-hero-section home-hero-large" id="home">
    <%= render 'layouts/nav' %>
    <div class="slider home-slider">
        <ul class="slides home-slides">
          <li>
            <img src="<%= asset_path("carousel01-big.jpg") %>"> 
            <div class="caption center-align">
              <h3>HIRE OUR LIVE INSTAGRAM PRINTER</h3>
              <h3 class="light grey-text text-lighten-3">SNAP. TAG. PRINT.</h3>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <%= image_tag('carousel02-big.jpg') %> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
    </div>
</div>


<div class="homepage-hero-section home-hero-small" id="home">
    <%= render 'layouts/nav' %>
    <div class="slider home-slider">
        <ul class="slides home-slides">
          <li>
            <img src="<%= asset_path("carousel01-big.jpg") %>"> 
            <h3 class="hero-printer-quote"><span class="text-hide">HIRE OUR</span>LIVE INSTAGRAM PRINTER</h3>
            <h3 class="hero-printer-text">SNAP. TAG. PRINT.</h3>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
               <h3>Left Aligned Caption</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
               <h3>Right Aligned Caption</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </li>
          <li>
            <!--<img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
               <%= image_tag('carousel02-big.jpg') %>
               <h3>This is our big Tagline!</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </li>
        </ul>
    </div>
</div>

<div class="homepage-quote1-section">
    <p>Bridging the gap between the online and offline worlds through live digital experiences.</p>
</div>

<div class="for-rel" id="toys">
    <div class="product-row-1 product-section-row-1">
        <div class="product-row-1-col-1-section">
            <div class="instagram-printer-rel-section">
                <img src="<%= asset_path('product-printer (1).jpg') %>">
                <div class="product1">
                    <p>Instagram</br>Printer</p>
                    <%= link_to "View", instagram_printer_path, class: "instagram-printer-link" %>
                </div>
            </div>
        </div>
        
        <div class="product-row-1-col-2-section">
            <div class="live-feed-rel-section">
                <img src="<%= asset_path('live-feed.jpg') %>">
                <div class="product2">
                    <p>Live</br>Feed</p>
                    <a href="" class="live-feed-link">View</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="product-row-2 product-section-row-1">
        <div class="product-row-2-col-1-section">
            <div class="gifgif-rel-section">
                <img src="<%= asset_path('product-gif.jpg') %>">
                <div class="product3">
                    <p>Gif</br>Gif</p>
                    <%= link_to "View", gifgif_path, class: "gifgif-link" %>
                </div>
            </div>
        </div>
        
        <div class="product-row-2-col-2-section">
            <div class="branded-selfie-rel-section">
                <img src="<%= asset_path('product-selfie.jpg') %>">
                <div class="product4">
                    <p>Branded</br>Selfie</p>
                    <%= link_to "View", roaming_selfies_path, class: "branded-selfie-link" %>
                </div>
            </div>
        </div>
    </div>
</div>        <!-------------------------- LARGE SECTION PRODUCT BLOCKS -------------------------->

 

<div class="product-section-small" id="toys">
    <div class="product-1">
        <div class="bg-black"></div>
        <%= image_tag('product-printer (1).jpg') %>
        <div class="product-text">
            <p>Instagram</br>Printer</p>
            <%= link_to "View", instagram_printer_path, class: "instagram-printer-link" %>
        </div>
    </div>
</div>

<div class="product-section-small">
    <div class="product-3">
        <div class="bg-black"></div>
        <%= image_tag('product-gif.jpg') %>
        <div class="product-text">
            <p>Gif</br>Gif</p>
            <%= link_to "View", gifgif_path, class: "gifgif-link" %>
        </div>
    </div>
</div>

<div class="product-section-small">
    <div class="product-4">
        <div class="bg-black"></div>
        <%= image_tag('product-selfie.jpg') %>
        <div class="product-text">
            <p>Branded</br>Selfie</p>
            <%= link_to "View", roaming_selfies_path, class: "branded-selfie-link" %>
        </div>
    </div>
</div>


<div class="product-section-small">
    <div class="product-2">
        <div class="bg-black"></div>
        <%= image_tag('live-feed.jpg') %>
        <div class="product-text">
            <p>Live</br>Feed</p>
            <%= link_to "View", livefeed_path, class: "live-feed-link" %>
        </div>
    </div>
</div>        <!-------------------------- SMALL SECTION PRODUCT BLOCKS -------------------------->







<div class="homepage-quote2-section">
    <p>We work with some of the</br>coolest kids in the playground.</p>
</div>

<div class="past-clients-row-1">
    <div class="clients-row-1-col-1-section">
        <div class="client1-rel-section">
            <img src="<%= asset_path('argyle.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-2-section">
        <div class="client2-rel-section">
            <img src="<%= asset_path('benefit-san-francisco.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-3-section">
        <div class="client3-rel-section">
            <img src="<%= asset_path('cosmopolitan.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-4-section">
        <div class="client4-rel-section">
            <img src="<%= asset_path('cotton-on.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-2">
    <div class="clients-row-2-col-1-section">
        <div class="client5-rel-section">
            <img src="<%= asset_path('electrolux.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-2-section">
        <div class="client6-rel-section">
            <img src="<%= asset_path('facebook.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-3-section">
        <div class="client7-rel-section">
            <img src="<%= asset_path('fox-sports.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-4-section">
        <div class="client8-rel-section">
            <img src="<%= asset_path('jacobs-creek.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-3">
    <div class="clients-row-3-col-1-section">
        <div class="client9-rel-section">
            <img src="<%= asset_path('mens-health.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-2-section">
        <div class="client10-rel-section">
            <img src="<%= asset_path('midori.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-3-section">
        <div class="client11-rel-section">
            <img src="<%= asset_path('royal-caribbean.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-4-section">
        <div class="client12-rel-section">
            <img src="<%= asset_path('sportsgirl.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-4">
    <div class="clients-row-4-col-1-section">
        <div class="client13-rel-section">
            <img src="<%= asset_path('spotify.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-2-section">
        <div class="client14-rel-section">
            <img src="<%= asset_path('st-george.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-3-section">
        <div class="client15-rel-section">
            <img src="<%= asset_path('topshop-topman.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-4-section">
        <div class="client16-rel-section">
            <img src="<%= asset_path('virgin-mobile.png') %>">
        </div>
    </div>
</div>

<div class="past-events-image-section" id="past-events">
    <div class="slider past-events-slider">
        <ul class="slides past-events-slides">
          <li>
            <img src="<%= asset_path("jessnicholls_PartyWithLenzo_Polo1464-compressor.jpg") %>"> 
            <!--<div class="caption center-align">-->
            <!--  <h3>HIRE OUR LIVE INSTAGRAM PRINTER</h3>-->
            <!--  <h3 class="light grey-text text-lighten-3">SNAP. TAG. PRINT.</h3>-->
            <!--</div>-->
          </li>
          <li>
            <img src="<%= asset_path("LenzoStyledShoot_LKS-372-compressor.jpg") %>"> <!-- random image -->
            <!--<div class="caption left-align">-->
            <!--  <h3>Left Aligned Caption</h3>-->
            <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
            <!--</div>-->
          </li>
          <li>
            <img src="<%= asset_path("unnamed-2.jpg") %>"> <!-- random image -->
            <!--<div class="caption right-align">-->
            <!--  <h3>Right Aligned Caption</h3>-->
            <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
            <!--</div>-->
          </li>
          <li>
            <img src="<%= asset_path("jessnicholls_PartyWithLenzo_Polo2171-min.jpg") %>"> <!-- random image -->
            <!--<div class="caption center-align">-->
            <!--  <h3>This is our big Tagline!</h3>-->
            <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
            <!--</div>-->
          </li>
          <li>
            <img src="<%= asset_path("M_L_SocialPlayground-3-compressor.jpg") %>"> <!-- random image -->
            <!--<div class="caption center-align">-->
            <!--  <h3>This is our big Tagline!</h3>-->
            <!--  <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
            <!--</div>-->
          </li>
        </ul>
    </div>
    <!--<div class="slider testimonial-slider">-->
    <!--    <ul class="slides testimonial-slides" style="height: 30vw !important; background: #eea4ac;">-->
    <!--      <li>-->
             
    <!--        <div class="caption center-align">-->
    <!--          <h3>Testimonial 1</h3>-->
    <!--          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--        </div>-->
    <!--      </li>-->
    <!--      <li>-->
            
    <!--        <div class="caption center-align">-->
    <!--          <h3>Testimonial 2</h3>-->
    <!--          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--        </div>-->
    <!--      </li>-->
    <!--      <li>-->
            
    <!--        <div class="caption center-align">-->
    <!--          <h3>Testimonial 3</h3>-->
    <!--          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--        </div>-->
    <!--      </li>-->
    <!--      <li>-->
            
    <!--        <div class="caption center-align">-->
    <!--          <h3>Testimonial 4</h3>-->
    <!--          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>-->
    <!--        </div>-->
    <!--      </li>-->
    <!--    </ul>-->
    <!--</div>-->
</div>

<div class="mailing-list-section">
    <p class="join-mailing-quote">Join our mailing list and we’ll keep you up to date</br>on all the fun and games.</p>
    <p class="mail-form">email field and button</p>
</div>

<div class="get-in-touch-section">
    <p class="main-quote">At the end of the day</br>we like to have fun.</p>
    <p class="small-quote">We know you do too. That’s why</br>we created Social Playground.</br></br>Organize a play date today!</p>
</div>

<div class="main-australia-section" id="contact">
    <p class="area-title">Australia</p>
    <p class="sub-regions">Head Office</p>
    <p class="business-location">
        <span class="business-name">Sydney | Melbourne | Brisbane |  Perth</span>
        <span class="business-address">Level 3</br>3 Blackfriars St</br>Chippendale, NSW 2008</span>
        <span class="business-phone">+61 2 8399 3468</span>
        <!--<span class="business-email-link">Send us an email</span>-->
        <!--<a class="general-form-scrollpoint">Scroll Here</a>-->
        <!--<%= render partial: 'contacts/partials/form', locals: { contact_type: 'general_homepage' } %>-->
        
        <div class="maincontact-form-div">
            <div class="maincontact-form-text">
                <h2></h2>
            </div>
            <div class="maincontact-form-section">
                <a class="maincontacthire-button enquire-button"><span>Send us an email</span></a>
                <p class="maincontact-form-scrollpoint"><%= image_tag('close-icon-white.png') %></p>
                <%= render partial: 'contacts/partials/form', locals: { contact_type: 'maincontact_hire' } %>
            </div>
        </div>

    </p>
    
    
    
    
    
    
    
    <div class="australian-partner-tabs">
        <ul class="partner-details-section">
            <li>
                <div class="partner-area">Adelaide</div>
                <div class="partner-offices">
                    <p>
                        <h3>Social Playground Adelaide</h3>
                        <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/Social Playground Singapore/@1.3116332,103.8611801,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19cbec341e93:0xf8e170128aa49f0a">
                            2 Kallang Avenue</br>#08-29, CT Hub</br>Singapore 339407
                        </a>
                        </br></br>
                        <a class="contact-phone-link" href="tel:+6596210450">+65 9621 0450</a>
                        </br></br>
                        <a class="office-email-link" href="mailto:info@socialplayground.com.sg">
                            <span class="contact-email-link">Send us an email</span>
                        </a>
                    </p>
                </div>
            </li>
            <li>
                <div class="partner-area">Tasmania</div>
                <div class="partner-offices">
                    <p>
                        <h3>Photobooth ...</h3>
                        <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/Social Playground Singapore/@1.3116332,103.8611801,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19cbec341e93:0xf8e170128aa49f0a">
                            2 Kallang Avenue</br>#08-29, CT Hub</br>Singapore 339407
                        </a>
                        </br></br>
                        <a class="contact-phone-link" href="tel:+6596210450">+65 9621 0450</a>
                        </br></br>
                        <a class="office-email-link" href="mailto:info@socialplayground.com.sg">
                            <span class="contact-email-link">Send us an email</span>
                        </a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>




<div class="new-partner-tabs-section">
    <p class="area-title">International</p>
    <p class="international-blurb">Our mates around the globe</p>
    <ul class="partner-details-section">
        <li>
            <div class="partner-area">Singapore</div>
            <div class="partner-offices">
                <p>
                    <h3>Social Playground</h3>
                    <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/Social Playground Singapore/@1.3116332,103.8611801,17z/data=!3m1!4b1!4m2!3m1!1s0x31da19cbec341e93:0xf8e170128aa49f0a">
                        2 Kallang Avenue</br>#08-29, CT Hub</br>Singapore 339407
                    </a>
                    </br></br>
                    <a class="contact-phone-link" href="tel:+6596210450">+65 9621 0450</a>
                    </br></br>
                    <a class="office-email-link" href="mailto:info@socialplayground.com.sg">
                        <span class="contact-email-link">Send us an email</span>
                    </a>
                </p>
            </div>
        </li>
        <li>
            <div class="partner-area">United Kingdom</div>
            <div class="partner-offices">
                <p><h3>Photoboothy</h3>
                    <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/Photoboothy/@51.4630517,-0.1580944,16z/data=!4m2!3m1!1s0x487605a530090acd:0xfcd1eae11bee7ed2">62 Marmion Road</br>London</br>SW11 5PA</a></br></br><a class="contact-phone-link" href="tel:+442071128962">+44 207 183 9616</a></br></br><a class="office-email-link" href="mailto:info@photoboothy.co.uk"><span class="contact-email-link">Send us an email</span></a>
                </p>
                
                <p>
                    <h3>JustPose!</h3>
                    <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/JustPose/@51.3269186,0.5496611,16.22z/data=!4m2!3m1!1s0x47df32a250ccfca9:0xa1ea7a90842c4027">
                        71-75 Shelton Street</br>Covent Garden</br>London WC2H 9JQ
                    </a>
                    </br></br>
                    <a class="contact-phone-link" href="tel:+442071128962">+44 207 112 8962</a>
                    </br></br>
                    <a class="office-email-link" href="mailto:pose@just-pose.com">
                        <span class="contact-email-link">Send us an email</span>
                    </a>
                </p>

            </div>
        </li>
        <li>
            <div class="partner-area">New Zealand</div>
            <div class="partner-offices">
                <p>
                    <h3>Interlike</h3>
                    <a class="contact-address-link" target="_blank" href="https://www.google.com.au/maps/place/Interlike/@-36.8493696,174.7235526,17z/data=!3m1!4b1!4m2!3m1!1s0x6d0d4770b79480a7:0x6c66b0927b70151">
                      249b Jervois Rd</br>Herne Bay</br>Auckland 1011
                    </a>
                    </br></br>
                    <a class="contact-phone-link" href="tel:+64093604026">+64 09 360 4026</a>
                    </br></br>
                    <a class="office-email-link" href="mailto:hello@interlike.co.nz">
                        <span class="contact-email-link">Send us an email</span>
                    </a>
                </p>
            </div>
        </li>
        <li>
            <div class="partner-area">Denmark</div>
            <div class="partner-offices">
                <p>
                    <h3>Photobooth CPH</h3>
                    <p>'Lorem ipsum..'</p>
                </p>
            </div>
        </li>
    </ul>
</div>




<!--<div class="partners-callout-section" id="partners">-->
<!--    <p class="section-title">PARTNERS</p>-->
<!--    <p class="section-quote">Interested in a commercial license? We’re on the lookout for global playmates. Get in touch to find out more.</p>-->
<!--    <a class="partner-button"><span>Enquire</span></a>-->
<!--    <p class="scroll-here">HERE</p>-->
<!--    <%= render partial: 'contacts/partials/form', locals: { contact_type: 'become_partner' } %>-->
<!--</div>-->


<div class="partners-form-div">
    <div class="partners-form-text">
        <h2>Partners</h2>
        <h4>Interested in a commercial license? We’re on the lookout for global playmates. Get in touch to find out more.</h4>
    </div>
    <div class="partners-form-section">
        <a class="partnershire-button enquire-button"><span>Enquire Now</span></a>
        <p class="partners-form-scrollpoint"><%= image_tag('close-icon-white.png') %></p>
        <%= render partial: 'contacts/partials/form', locals: { contact_type: 'partners_hire' } %>
    </div>
</div>