             <!-------------------------------------------->
             <!--         HomePage Hero Section           -->
             <!-------------------------------------------->




<div class="homepage-hero-section">
    <%= render 'layouts/nav' %>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="<%= asset_path("carousel01-big.jpg") %>"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
    </div>
</div>

<div class="homepage-quote1-section">
    <p>Bridging the gap between the online and offline worlds through live digital experiences.</p>
</div>

<div class="product-row-1">
    <div class="product-row-1-col-1-section">
        <div class="instagram-printer-rel-section">
            <img src="<%= asset_path('product-printer (1).jpg') %>">
            <div class="product1">
                <p>Instagram</br>Printer</p>
                <a href="" class="instagram-printer-link">View</a>
            </div>
        </div>
    </div>
    
    <div class="product-row-1-col-2-section">
        <div class="live-feed-rel-section">
            <img src="<%= asset_path('live-feed.jpg') %>">
            <div class="product2">
                <p>Live</br>Feed</p>
                <a href="" class="live-feed-link">View</a>
            </div>
        </div>
    </div>
</div>

<div class="product-row-2">
    <div class="product-row-2-col-1-section">
        <div class="gifgif-rel-section">
            <img src="<%= asset_path('product-gif.jpg') %>">
            <div class="product3">
                <p>Gif</br>Gif</p>
                <a href="" class="gifgif-link">View</a>
            </div>
        </div>
    </div>
    
    <div class="product-row-2-col-2-section">
        <div class="branded-selfie-rel-section">
            <img src="<%= asset_path('product-selfie.jpg') %>">
            <div class="product4">
                <p>Branded</br>Selfie</p>
                <a href="" class="branded-selfie-link">View</a>
            </div>
        </div>
    </div>
</div>

<div class="homepage-quote2-section">
    <p>We work with some of the</br>coolest kids in the playground.</p>
</div>

<div class="past-clients-row-1">
    <div class="clients-row-1-col-1-section">
        <div class="client1-rel-section">
            <img src="<%= asset_path('argyle.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-2-section">
        <div class="client2-rel-section">
            <img src="<%= asset_path('benefit-san-francisco.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-3-section">
        <div class="client3-rel-section">
            <img src="<%= asset_path('cosmopolitan.png') %>">
        </div>
    </div>
    <div class="clients-row-1-col-4-section">
        <div class="client4-rel-section">
            <img src="<%= asset_path('cotton-on.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-2">
    <div class="clients-row-2-col-1-section">
        <div class="client5-rel-section">
            <img src="<%= asset_path('electrolux.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-2-section">
        <div class="client6-rel-section">
            <img src="<%= asset_path('facebook.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-3-section">
        <div class="client7-rel-section">
            <img src="<%= asset_path('fox-sports.png') %>">
        </div>
    </div>
    <div class="clients-row-2-col-4-section">
        <div class="client8-rel-section">
            <img src="<%= asset_path('jacobs-creek.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-3">
    <div class="clients-row-3-col-1-section">
        <div class="client9-rel-section">
            <img src="<%= asset_path('mens-health.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-2-section">
        <div class="client10-rel-section">
            <img src="<%= asset_path('midori.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-3-section">
        <div class="client11-rel-section">
            <img src="<%= asset_path('royal-caribbean.png') %>">
        </div>
    </div>
    <div class="clients-row-3-col-4-section">
        <div class="client12-rel-section">
            <img src="<%= asset_path('sportsgirl.png') %>">
        </div>
    </div>
</div>

<div class="past-clients-row-4">
    <div class="clients-row-4-col-1-section">
        <div class="client13-rel-section">
            <img src="<%= asset_path('spotify.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-2-section">
        <div class="client14-rel-section">
            <img src="<%= asset_path('st-george.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-3-section">
        <div class="client15-rel-section">
            <img src="<%= asset_path('topshop-topman.png') %>">
        </div>
    </div>
    <div class="clients-row-4-col-4-section">
        <div class="client16-rel-section">
            <img src="<%= asset_path('virgin-mobile.png') %>">
        </div>
    </div>
</div>