<div class="livefeed-hero-section">
    <%= render 'layouts/nav' %>
    <%= image_tag('livefeed/carousel01-big (3).jpg', class: 'livefeed-hero-image') %>
</div>

<div class="livefeed-quote1">
    <h2>Real Time Fun</h2>
</div>

<div class="stp-icon-section round-shadow">
    <div class="snap-icon-section">
        <p class="printer-snap-sprite"></p>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="tag-icon-section">
        <p class="printer-tag-sprite"></p>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="print-icon-section">
        <p class="printer-print-sprite"></p>
        <span class="stp-icon-header">Stream</span>
        <span class="stp-icon-text">Stream the images on</br>an event screen, instantly.</span>
    </div>
</div>


<div class="stp-icon-section-small round-shadow">
    <div class="snap-icon-section">
        <%= image_tag('printer/snap-icon.png') %>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    
    <div class="tag-icon-section">
        <%= image_tag('printer/tag-icon.png') %>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Tag a photo</br>to instagram</span>
    </div>
    
    <div class="print-icon-section">
        <%= image_tag('printer/print-icon.png') %>
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Print a photo</br>to instagram</span>
    </div>
</div>


<div class="livefeed-facts-section">
    <%= image_tag('livefeed/live-feed-goals-bg.jpg', class: 'main-bg-image') %>
    <div class="section-main-text">
        <h2 class="main-section-heading">Engage in Real</br>time sharing</h2>
        <p class="main-section-body">Put your event attendees in the spotlight and encourage them to upload content to their social media channels,</br>in the moment.</p>
    </div>
    <%= image_tag('livefeed/live-feed01.jpg', class: 'centre-image') %>
    <div class="section-facts-text">
        <h3 class="fact-heading">Beautiful Displays, Everywhere</h3>
        <p class="fact-info">Showcase your content in engaging, animated displays across one or multiple screens via our flexible display options.</p>
        <h3 class="fact-heading">Protect Your Brand Reputation</h3>
        <p class="fact-info">Need to exercise a little control? We enable content moderation on the fly to ensure only the best content is featured on your display.</p>
        <h3 class="fact-heading">Post Event Engagement</h3>
        <p class="fact-info">Continue the conversation post-event or engage fans at home by embedding the stream within your website or Facebook app.</p>
    </div>
</div>

<div class="livefeed-strip-large">
    <%= image_tag('livefeed/feed01 (1).jpg') %>
    <%= image_tag('livefeed/feed02 (1).jpg') %>
    <%= image_tag('livefeed/feed03 (1).jpg') %>
    <%= image_tag('livefeed/feed04 (1).jpg') %>
    <%= image_tag('livefeed/feed05 (1).jpg') %>
</div>


<div class="livefeed-strip-small">
    <%= image_tag(('livefeed/feed02 (1).jpg'), class: 'img1') %>
    <%= image_tag(('livefeed/feed03 (1).jpg'), class: 'img2') %>
    <%= image_tag(('livefeed/feed05 (1).jpg'), class: 'img3') %>
</div>




<!--<div class="livefeed-page-cta">-->
<!--    <h2>Want the live feed</br>at your next event?</h2>-->
<!--    <%= link_to "Hire Now", root_path, class: "live-feed-hire-link" %>-->
<!--</div>-->

<div class="livefeed-form-div">
    <div class="livefeed-form-text">
        <h2>Want the live feed</br>at your next event?</h2>
    </div>
    <div class="livefeed-form-section">
        <a class="livefeedhire-button enquire-button"><span>Hire Now</span></a>
        <p class="livefeed-form-scrollpoint"><%= image_tag('close-icon-white.png') %></p>
        <%= render partial: 'contacts/partials/form', locals: { contact_type: 'livefeed_hire' } %>
    </div>
</div>



<div class="livefeed-page-printer-cta">
    <h2>Like the live feed?</br>check out our instagram printer</h2>
    <%= link_to "Instagram Printer", root_path, class: "printer-hire-link" %>
</div>