<% provide(:title, "Live Feed") %>

<body>
    
    <div class="livefeed-hero-section">
        <%= render 'layouts/nav' %>    
        <a href="https://www.facebook.com/socialplaygroundindonesia/?fref=ts&ref=br_tf" target="_blank"><p class="facebook-social"></p></a>
        <!--<a href="https://twitter.com/socialplaygrnd" target="_blank"><p class="twitter-social"></p></a>-->
        <a href="https://www.instagram.com/socialplayground_id/" target="_blank"><p class="instagram-social"></p></a>
        <%= image_tag('livefeed/carousel01-big (3).jpg', class: 'livefeed-hero-image') %>
        <h3 class="livefeed-hero-quote">LIVE FEED</h3>
        <h5 class="livefeed-hero-text">SNAP. TAG. STREAM.</h5>
    
    </div>
    
    <div class="livefeed-quote1">
        <h2>Real Time Fun</h2>
    </div>
    
    <div class="stp-icon-section round-shadow">
        <div class="icon snap-icon-section">
            <p class="sprite livefeed-snap-sprite"></p>
            <span class="stp-icon-header">Snap</span>
            <span class="stp-icon-text"><%= raw t('take_photo_to_instagram') %></span>
        </div>
        <div class="icon tag-icon-section">
            <p class="sprite livefeed-tag-sprite"></p>
            <span class="stp-icon-header">Tag</span>
            <span class="stp-icon-text"><%= raw t('add_hash_tag') %></span>
        </div>
        <div class="icon print-icon-section">
            <p class="sprite livefeed-stream-sprite"></p>
            <span class="stp-icon-header">Stream</span>
            <span class="stp-icon-text"><%= raw t('stream_the_images') %></span>
        </div>
    </div>
    
    
    <div class="stp-icon-section-small round-shadow">
        <div class="snap-icon-section">
            <p class="livefeed-snap"></p>
            <span class="stp-icon-header">Snap</span>
            <span class="stp-icon-text"><%= raw t('take_photo_to_instagram') %></span>
        </div>
        
        <div class="tag-icon-section">
            <p class="livefeed-tag"></p>
            <span class="stp-icon-header">Tag</span>
            <span class="stp-icon-text"><%= raw t('add_hash_tag') %></span>
        </div>
        
        <div class="print-icon-section">
            <p class="livefeed-stream"></p>
            <span class="stp-icon-header">Stream</span>
            <span class="stp-icon-text-stream">Stream the images on</br>an event screen, instantly.</span>
        </div>
    </div>
    
    
    <div class="livefeed-facts-section">
        <%= image_tag('livefeed/live-feed-goals-bg.jpg', class: 'main-bg-image') %>
        <div class="section-main-text">
            <h2 class="main-section-heading">Engage in Real</br>time sharing</h2>
            <p class="main-section-body"><%= raw t('put_attendees') %></p>
        </div>
        <%= image_tag('livefeed/live-feed01.jpg', class: 'centre-image') %>
        <div class="section-facts-text">
            <h3 class="fact-heading"><%= raw t('beautifull_displays') %></h3>
            <p class="fact-info"><%= raw t('showcase_content') %></p>
            <h3 class="fact-heading"><%= raw t('protect_reputation') %></h3>
            <p class="fact-info"><%= raw t('need_control') %></p>
            <h3 class="fact-heading"><%= raw t('post_engagement') %></h3>
            <p class="fact-info"><%= raw t('continue_conversation') %></p>
        </div>
    </div>
    
    <div class="livefeed-strip-large">
        <%= image_tag('livefeed/feed01 (1).jpg') %>
        <%= image_tag('livefeed/feed02 (1).jpg') %>
        <%= image_tag('livefeed/feed03 (1).jpg') %>
        <%= image_tag('livefeed/feed04 (1).jpg') %>
        <%= image_tag('livefeed/feed05 (1).jpg') %>
    </div>
    
    
    <div class="livefeed-strip-small">
        <%= image_tag(('livefeed/feed02 (1).jpg'), class: 'img1') %>
        <%= image_tag(('livefeed/feed03 (1).jpg'), class: 'img2') %>
        <%= image_tag(('livefeed/feed05 (1).jpg'), class: 'img3') %>
    </div>
    
    
    
    
    <!--<div class="livefeed-page-cta">-->
    <!--    <h2>Want the live feed</br>at your next event?</h2>-->
    <!--    <%= link_to "Hire Now", root_path, class: "live-feed-hire-link" %>-->
    <!--</div>-->
    
    <div class="livefeed-form-div">
        <div class="livefeed-form-text">
            <h2>Want the live feed</br>at your next event?</h2>
        </div>
        <div class="livefeed-form-section">
            <a class="livefeedhire-button enquire-button"><span>Hire Now</span></a>
            <p class="livefeed-form-scrollpoint form-close"><%= image_tag('close-icon-white.png') %></p>
            <%= render partial: 'contacts/partials/form', locals: { contact_type: 'livefeed_hire' } %>
        </div>
    </div>
    
    
    
    <div class="livefeed-page-printer-cta">
        <h2>Like the live feed?</br>check out our instagram printer</h2>
        <%= link_to "Instagram Printer", instagram_printer_path, class: "printer-hire-link" %>
    </div>
</body>
