<div class="printerpage-hero-section">
    <%= render 'layouts/nav' %>
    <img class="hero-img" src="<%= asset_path("carousel01-big.jpg") %>">
</div>

<div class="how-to-play-section">
    <span class="how-to-play-quote">How to play</span>
</div>

<div class="stp-icon-section round-shadow">
    <div class="snap-icon-section">
        <img src="#">
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="tag-icon-section">
        <img src="#">
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="print-icon-section">
        <img src="#">
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
</div>

<div class="about-printer-section">
    
</div>

<div class="printer-img-highlight-section">
    <h2 class="printer-highlight-heading">The Printer.</h2>
    <ul class="printer-image-ul">
        <div class="image-row-1">
            <li><%= image_tag ("printer/instagram-printer01.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer02.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer03.jpg") %></li>
        </div>
        <div class="image-row-2">
            <li><%= image_tag ("printer/instagram-printer04.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer05.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer06.jpg") %></li>
        </div>
    </ul>
</div>

<div class="printer-live-feed-strip">
    <ul class="live-feed-strip">
        <li><%= image_tag("printer/feed01.jpg") %></li>
        <li><%= image_tag("printer/feed02.jpg") %></li>
        <li><%= image_tag("printer/feed03.jpg") %></li>
        <li><%= image_tag("printer/feed04.jpg") %></li>
        <li><%= image_tag("printer/feed05.jpg") %></li>
    </ul>
</div>

<div class="instagram-printer-cta-section">
    <h2>Want the Instagram Printer</br>at your next event?</h2>
    <%= link_to "Hire Now", root_path, class: "printer-hire-link" %>
</div>

<div class="printer-live-feed-cta">
    <%= image_tag('printer/live-feed-cta.jpg', class: "printer-live-feed-background-image") %>
        <h2>Like the printer? Why not</br>check out our Live Feed?</h2>
        <%= link_to "Live Feed", root_path, class: "live-feed-hire-link" %>
</div>