<% provide(:title, "Instagram Printer") %>

<body class="printer-body">

<div class="printerpage-hero-section" id="arrow-scroll">
    <%= render 'layouts/nav' %>
    <a href="https://www.facebook.com/socialplaygroundindonesia/?fref=ts&ref=br_tf" target="_blank"><p class="facebook-social"></p></a>
    <!--<a href="https://twitter.com/socialplaygrnd" target="_blank"><p class="twitter-social"></p></a>-->
    <a href="https://www.instagram.com/socialplayground_id/" target="_blank"><p class="instagram-social"></p></a>
    <%= image_tag('printer/carousel01-big (1).jpg', class: 'printer-page-hero-image') %>
    <h3 class="printer-hero-quote">LIVE INSTAGRAM PRINTER</h3>
    <h5 class="printer-hero-text">SNAP. TAG. PRINT.</h5>
</div>

<div class="how-to-play-section">
    <span class="how-to-play-quote">How to play</span>
</div>

<div class="stp-icon-section round-shadow">
    <div class="snap-icon-section">
        <p class="printer-snap-sprite"></p>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take a photo</br>on instagram</span>
    </div>
    <div class="tag-icon-section">
        <p class="printer-tag-sprite"></p>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Add the event</br>hashtag</span>
    </div>
    <div class="print-icon-section">
        <p class="printer-print-sprite"></p>
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Collect your</br>print instantly</span>
    </div>
</div>


<div class="stp-icon-section-small round-shadow">
    <div class="snap-icon-section">
        <%= image_tag('printer/snap-icon.png') %>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text-printer">Take a photo</br>on instagram</span>
    </div>
    
    <div class="tag-icon-section">
        <%= image_tag('printer/tag-icon.png') %>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Add the event</br>hashtag</span>
    </div>
    
    <div class="print-icon-section">
        <%= image_tag('printer/print-icon.png') %>
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Collect your</br>print instantly</span>
    </div>
</div>


<div class="video-container">
        <iframe width="853" height="480" src="https://player.vimeo.com/video/157413601" frameborder="0" allowfullscreen></iframe>
</div>            <!-- ************************************************  /Video Section  ************************************************  -->

<!--poster="/assets/gif-video-thumbnail.png"-->

<div class="about-printer-section">
    <%= image_tag('printer/instagram-printer-goals-bg.jpg', class: "about-printer-background") %>
    <div class="printer-facts">
        <p class="printer-facts-heading">Spread Content Organically</p>
        <p class="printer-facts-body">Inspire attendees to share user generated content from anywhere in your event and build online conversations about your brand.</p>
        
        <p class="printer-facts-heading">Drive Your Hashtag Further</p>
        <p class="printer-facts-body">Incentivize consumers to tag their photos with your brand or event hashtag, driving viral reach.</p>
        
        <p class="printer-facts-heading">Engage Via Offers & Competitions</p>
        <p class="printer-facts-body">Integrate hashtag competitions or brand your printed photos with exclusive offers to engage consumers further.</p>
        
        <p class="printer-facts-heading">Post Event Content & Insights</p>
        <p class="printer-facts-body">We’ll provide you with a digital copy of all of your photos and a detailed insights report so you can see exactly how much engagement was generated.</p>
    </div>
</div>




<div class="about-printer-section-small">
    <%= image_tag('printer/instagram-printer-goals-bg.jpg', class: "about-printer-background") %>
    <div class="printer-facts">
        <p class="printer-facts-heading">Spread Content Organically</p>

        <p class="printer-facts-heading">Drive Your Hashtag Further</p>

        <p class="printer-facts-heading">Engage Via Offers & Competitions</p>

        <p class="printer-facts-heading">Post Event Content & Insights</p>
    </div>
</div>




<div class="printer-img-highlight-section">
    <h2 class="printer-highlight-heading">The Printer</h2>
    <ul class="printer-image-ul">
        <div class="image-row-1">
            <li><%= image_tag ("printer/instagram-printer01.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer02.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer03.jpg") %></li>
        </div>
        <div class="image-row-2">
            <li><%= image_tag ("printer/instagram-printer04.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer05.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer06.jpg") %></li>
        </div>
    </ul>
</div>

<div class="printer-live-feed-strip">
    <ul class="live-feed-strip">
        <li class="img1"><%= image_tag("printer/feed01.jpg") %></li>
        <li class="img2"><%= image_tag("printer/feed02.jpg") %></li>
        <li class="img3"><%= image_tag("printer/feed03.jpg") %></li>
        <li class="img4"><%= image_tag("printer/feed04.jpg") %></li>
        <li class="img5"><%= image_tag("printer/feed05.jpg") %></li>
    </ul>
</div>

<div class="printer-live-feed-strip-small">
    <ul class="live-feed-strip">
        <li class="img1"><%= image_tag("printer/feed01.jpg") %></li>
        <li class="img2"><%= image_tag("printer/feed02.jpg") %></li>
        <li class="img3"><%= image_tag("printer/feed04.jpg") %></li>
    </ul>
</div>

<!--<div class="instagram-printer-cta-section form-div">-->
<!--    <h2>Want the Instagram Printer</br>at your next event?</h2>-->
<!--    <a class="printerhire-button enquire-button"><span>Hire Now</span></a>-->
<!--    <p class="printerhire-form-scrollpoint"><%= image_tag('close-icon-white.png') %></p>-->
<!--    <%= render partial: 'contacts/partials/form', locals: { contact_type: 'printer_hire' } %>-->

<!--</div>-->


<div class="printer-form-div">
    <div class="printer-form-text">
        <h2>Want the Instagram Printer</br>at your next event?</h2>
    </div>
    <div class="printer-form-section">
        <a class="printerhire-button enquire-button"><span>Hire Now</span></a>
        <p class="printerhire-form-scrollpoint form-close"><%= image_tag('close-icon-white.png') %></p>
        <%= render partial: 'contacts/partials/form', locals: { contact_type: 'printer_hire' } %>
    </div>
</div>




<div class="printer-live-feed-cta">
    <%= image_tag('printer/live-feed-cta.jpg', class: "printer-live-feed-background-image") %>
        <h2>Like the printer?</br>check out our Live Feed</h2>
        <%= link_to "Live Feed", livefeed_path, class: "live-feed-hire-link" %>
</div>


</body>