<div class="printerpage-hero-section">
    <%= render 'layouts/nav' %>
    <%= image_tag('printer/carousel01-big (1).jpg', class: 'printer-page-hero-image') %>
</div>

<div class="how-to-play-section">
    <span class="how-to-play-quote">How to play</span>
</div>

<div class="stp-icon-section round-shadow">
    <div class="snap-icon-section">
        <p class="printer-snap-sprite"></p>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="tag-icon-section">
        <p class="printer-tag-sprite"></p>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    <div class="print-icon-section">
        <p class="printer-print-sprite"></p>
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
</div>


<div class="stp-icon-section-small round-shadow">
    <div class="snap-icon-section">
        <%= image_tag('printer/snap-icon.png') %>
        <span class="stp-icon-header">Snap</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
    
    <div class="tag-icon-section">
        <%= image_tag('printer/tag-icon.png') %>
        <span class="stp-icon-header">Tag</span>
        <span class="stp-icon-text">Tag a photo</br>to instagram</span>
    </div>
    
    <div class="print-icon-section">
        <%= image_tag('printer/print-icon.png') %>
        <span class="stp-icon-header">Print</span>
        <span class="stp-icon-text">Print a photo</br>to instagram</span>
    </div>
</div>





<div class="about-printer-section">
    <%= image_tag('printer/instagram-printer-goals-bg.jpg', class: "about-printer-background") %>
    <div class="printer-facts">
        <p class="printer-facts-heading">Spread Content Organically</p>
        <p class="printer-facts-body">Inspire attendees to share user generated content from anywhere in your event and build online conversations about your brand.</p>
        
        <p class="printer-facts-heading">Drive Your Hashtag Further</p>
        <p class="printer-facts-body">Incentivize consumers to tag their photos with your brand or event hashtag, driving viral reach.</p>
        
        <p class="printer-facts-heading">Engage Via Offers & Competitions</p>
        <p class="printer-facts-body">Integrate hashtag competitions or brand your printed photos with exclusive offers to engage consumers further.</p>
        
        <p class="printer-facts-heading">Post Event Content & Insights</p>
        <p class="printer-facts-body">We’ll provide you with a digital copy of all of your photos and a detailed insights report so you can see exactly how much engagement was generated.</p>
    </div>
</div>




<div class="about-printer-section-small">
    <%= image_tag('printer/instagram-printer-goals-bg.jpg', class: "about-printer-background") %>
    <div class="printer-facts">
        <p class="printer-facts-heading">Spread Content Organically</p>

        <p class="printer-facts-heading">Drive Your Hashtag Further</p>

        <p class="printer-facts-heading">Engage Via Offers & Competitions</p>

        <p class="printer-facts-heading">Post Event Content & Insights</p>
    </div>
</div>




<div class="printer-img-highlight-section">
    <h2 class="printer-highlight-heading">The Printer</h2>
    <ul class="printer-image-ul">
        <div class="image-row-1">
            <li><%= image_tag ("printer/instagram-printer01.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer02.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer03.jpg") %></li>
        </div>
        <div class="image-row-2">
            <li><%= image_tag ("printer/instagram-printer04.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer05.jpg") %></li>
            <li><%= image_tag ("printer/instagram-printer06.jpg") %></li>
        </div>
    </ul>
</div>

<div class="printer-live-feed-strip">
    <ul class="live-feed-strip">
        <li class="img1"><%= image_tag("printer/feed01.jpg") %></li>
        <li class="img2"><%= image_tag("printer/feed02.jpg") %></li>
        <li class="img3"><%= image_tag("printer/feed03.jpg") %></li>
        <li class="img4"><%= image_tag("printer/feed04.jpg") %></li>
        <li class="img5"><%= image_tag("printer/feed05.jpg") %></li>
    </ul>
</div>

<div class="printer-live-feed-strip-small">
    <ul class="live-feed-strip">
        <li class="img1"><%= image_tag("printer/feed01.jpg") %></li>
        <li class="img2"><%= image_tag("printer/feed02.jpg") %></li>
        <li class="img3"><%= image_tag("printer/feed04.jpg") %></li>
    </ul>
</div>

<div class="instagram-printer-cta-section">
    <h2>Want the Instagram Printer</br>at your next event?</h2>
    <%= link_to "Hire Now", root_path, class: "printer-hire-link" %>
</div>

<div class="printer-live-feed-cta">
    <%= image_tag('printer/live-feed-cta.jpg', class: "printer-live-feed-background-image") %>
        <h2>Like the printer?</br>check out our Live Feed</h2>
        <%= link_to "Live Feed", root_path, class: "live-feed-hire-link" %>
</div>