
<% provide(:title, "Branded Selfies") %> 
 
            <!-------------------------------------------->
             <!--         Selfies Nav and hero image     -->
             <!-------------------------------------------->



<div class="selfies-hero-image-container group">
    <%= render 'layouts/nav' %>
    <div class="nav-selfie-image">
        <a href="https://www.facebook.com/socialplaygrnd"><img id="facebook-icon" src="<%= asset_path( 'facebook-128.png') %>"></a>
        <a href="https://twitter.com/socialplaygrnd"><img id="twitter-icon" src="<%= asset_path( 'twitter-128.png') %>"></a>
        <a href="http://instagram.com/socialplaygrnd"><img id="instagram-icon" src="<%= asset_path( 'instagram-6-128.png') %>"></a>
         <p class="selfies-hero-text">branded selfies.</br>shoot. share. engage.</p> 
        <img id="selfie-foreground-hero" src="<%= asset_path( 'Selfie-unit-crop-best.png') %>" class="responsive-img">
    </div>
</div>           <!-- ************  /Selfies Nav and hero image  ************  -->
     
             
           
             
              <!-------------------------------------------->
             <!--         Quote 1 Section     -->
             <!-------------------------------------------->
 
 
 
 <div class="content1-quote-selfie">
    <h2 class="content1-selfie-text center">Clever Content Creation</h2>
</div>                        <!-- ************  /Quote 1 Section  ************  -->
 
 
 
             
             <!-------------------------------------------->
             <!--         Selfies Icon Section     -->
             <!-------------------------------------------->             
             


<div class="round-shadow selfie-round-shadow all-icons selfie-no-sprites">
    <div class="white-fill-for-selfie">
        <div class="container selfie-icon-container">
            <div class="icon_section selfie-icon-section">
                <div class="row">
                    <div class="col s12 m12 l4 icon-block-1">
                      <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'selfie-icon-shoot.png' ) %>"></i></h2>
                        <h5 class="center"><span style="font-family: 'gotham_boldregular'">SHOOT</span> a photo with</br>our selfie machine</h5>
                
                        <p class="light"></p>
                      </div>
                    </div>
                
                    <div class="col s12 m12 l4 icon-block-2">
                      <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'selfie-icon-share.png' ) %>"></i></h2>
                        <h5 class="center">Consumers <span style="font-family: 'gotham_boldregular'">SHARE</span></br>to your Facebook</br>or Twitter page</h5>
                         
                        <p class="light"></p>
                      </div>
                    </div>
                
                    <div class="col s12 m12 l4 icon-block-3">
                      <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons"></i><img src="<%= asset_path( 'new icon engage.png' ) %>"></h2>
                        <h5 class="center">Drive <span style="font-family: 'gotham_boldregular'">ENGAGEMENT</span></br>through likes & shares</h5>
                 
                        <p class="light"></p>
                      </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>       <!-- ************  /No sprite Icons, for small devices and touch  ************  -->  

<div class="round-shadow selfie-round-shadow all-icons selfie-desktop-sprites">
    <div class="white-fill-for-selfie">
        <div class="container selfie-icon-container">
            <div class="icon_section selfie-icon-section">
                <div class="row">
                    <div class="col s12 m12 l4 icon-block-1">
                      <div class="icon-block">
                        <h2 class="selfie-shoot-sprite center brown-text"></i></h2>
                        <h5 class="center"><span style="font-family: 'gotham_boldregular'">SHOOT</span> a photo with</br>our selfie machine</h5>
                
                        <p class="light"></p>
                      </div>
                    </div>
                
                    <div class="col s12 m12 l4 icon-block-2">
                      <div class="icon-block">
                        <h2 class="selfie-phone-sprite center brown-text"></h2>
                        <h5 class="center">Consumers <span style="font-family: 'gotham_boldregular'">SHARE</span></br>to your Facebook</br>or Twitter page</h5>
                         
                        <p class="light"></p>
                      </div>
                    </div>
                
                    <div class="col s12 m12 l4 icon-block-3">
                      <div class="icon-block">
                        <h2 class="selfie-share-sprite center brown-text"></h2>
                        <h5 class="center">Drive <span style="font-family: 'gotham_boldregular'">ENGAGEMENT</span></br>through likes & shares</h5>
                 
                        <p class="light"></p>
                      </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>        <!-- ************  /Contains Sprite Icons, for desktop  ************  -->

<div class="selfies-icons">
    <div class="shoot-icon-section">
        <p class="selfies-shoot-sprite"></p>
        <span class="stp-icon-header"><strong>SHOOT </strong>a photo with</span></br>
        <span class="stp-icon-text">our selfie machine</span>
    </div>
    <div class="share-icon-section">
        <p class="selfies-share-sprite"></p>
        <span class="stp-icon-header">Consumers <strong>SHARE</strong></span></br>
        <span class="stp-icon-header">to your Facebook</span></br>
        <span class="stp-icon-text">or Twitter page</span>
    </div>
    <div class="engage-icon-section">
        <p class="selfies-engage-sprite"></p>
        <span class="stp-icon-header">Drive <strong>ENGAGEMENT</strong></span></br> 
        <span class="stp-icon-text">through likes & shares</span>
    </div>
</div>


                                                                                         
                                                                                         
                                                                                             <!-- ************  /ICON SECTION  ************  -->

           
            
            
             <!-------------------------------------------->
             <!--              Quote 2 Section           -->
             <!-------------------------------------------->             
            
            
<div class="large-section-teal-bg center">
    <h2>Collaborate with consumers to create</br>personalised selfies endorsing your brand.</h2>
</div>             <!-- ************  /Quote 2 Section  ************  -->      


<div class="section-teal-bg center">
    <h2>Collaborate with</br>consumers to create</br>personalised selfies</br>endorsing your brand.</h2>
</div>                   <!-- ************  /Teal Section  ************  -->
            
            
                                                        
                                                                 <!-- ************  /Quote2 Section  ************  -->    
             
             
             
             <!-------------------------------------------->
             <!--  Selfie Blurb on image section         -->
             <!-------------------------------------------->        


<div class="selfie-blurb-on-image">
    <img src="<%= asset_path('NEW_branded_selfies_social_beauty_mirror_interlike_nz-5878-1-min-compressor (1) (1).png')%>">
    <div class="selfie-blurb-text center">
        <h2>Branded photography,</br>instantly shared.</h2></br>
        <p>Take the experience to your event attendees with our roaming photography solution, perfect for large events.</br></br>Photos are branded and ready to be shared instantly to Twitter or Facebook to drive engagement and social reach.</p>
    </div>
</div>            <!-- ************  /Text on image, for desktop  ************  -->


<div class="small-selfie-blurb-on-image">
    <img src="<%= asset_path('NEW_branded_selfies_social_beauty_mirror_interlike_nz-5878-1-min-compressor (1) (1).png')%>">
    <div class="small-selfie-blurb-text center">
        <h2>Branded photography,</br>instantly shared.</h2></br>
        <p>Photos are branded and ready to be shared instantly to Twitter or Facebook to drive engagement and social reach.</p>
    </div>
</div>      <!-- ************  /Text beneath image, for small devices and touch  ************  -->



                                                        <!-- ************ /Selfie Blurb on image section ************  -->
 
            
            
            
            
             <!-------------------------------------------->
             <!--          Selfie ipad with text         -->
             <!--------------------------------------------> 
             


<div class="lg-selfie-ipad-container"> 
    <div class="lg-selfie-ipad-box">  
        <div class="lg-selfie-ipad-rel-box">
            <img class="" src="<%= asset_path('interlike_packshot-branded-selfie.png') %>">
            <ul class="">
                <li>
                    <p><span class="selfieimg-headings" style="font-family: 'gotham_boldregular'">BUILT IN BRAND VALUES</span></br></br>Pre-set filters, brand overlays, descriptions and hashtags to ensure every photo shared carries your brand message.</p>
                </li>
                </br>
                <li>
                    <p><span class="selfieimg-headings" style="font-family: 'gotham_boldregular'">SOCIAL MEDIA REACH</span></br></br>Event attendees are driven to your brand Facebook or Twitter page to engage, share and drive organic reach.</p>
                </li>
                </br>
                <li>
                    <p><span class="selfieimg-headings" style="font-family: 'gotham_boldregular'">WIFI PRINTING</span></br></br>Provide event attendees with a tangible take home with on-site printing of branded selfies, in an instant.</p>
                </li>
                </br>
            </ul>
        </div>
    </div>
</div>              <!-- ************  /Text besides ipad, for desktop  ************  -->



<div class="small-selfie-text-container">
    <div class="small-selfie-img-box">
       <img class="" src="<%= asset_path('interlike_packshot-branded-selfie.png') %>"> 
    </div>
    <div class="small-selfie-text-box">
        <ul class="selfie-text">
            <li class="brand-values">
                <p><span class="selfie-text-header" style="font-family: 'gotham_boldregular'">BUILT IN BRAND VALUES</span></br></br>Pre-set filters, brand overlays, descriptions and hashtags to ensure every photo shared carries your brand message.</p>
            </li>
            </br>
            <li class="social-reach">
                <p><span class="selfie-text-header" style="font-family: 'gotham_boldregular'">SOCIAL MEDIA REACH</span></br></br>Event attendees are driven to your brand Facebook or Twitter page to engage, share and drive organic reach.</p>
            </li>
            </br>
            <li class="wifi-printing">
                <p class="last-selfie-text-block"><span class="selfie-text-header" style="font-family: 'gotham_boldregular'">WIFI PRINTING</span></br></br>Provide event attendees with a tangible take home with on-site printing of branded selfies, in an instant.</p>
            </li>
            </br>
        </ul>
    </div>
</div>           <!-- ************  /Text beneath pad, for small devices and touch  ************  -->



                                                        <!-- ************ /Selfie ipad with text ************  -->
                
                
            
            
             <!-------------------------------------------->
             <!--          Quote 3 Section               -->
             <!--------------------------------------------> 
             
             
<div class="section-grey-bg center flow-text">
    <h2>Activating a long term campaign?</br>Chat to us about licensing.</h2>
</div>             <!-- ************  /Quote 3 Section  ************  --> 




             <!-------------------------------------------->
             <!--          Selfie Strip Section          -->
             <!--------------------------------------------> 
             
             

<div class="selfie-strip">
    <img src="<%= asset_path('selfie-image 1.jpg') %>">
    <img src="<%= asset_path('selfie-image 2.jpg') %>">
    <img src="<%= asset_path('selfie-image 3.jpg') %>">
    <img src="<%= asset_path('selfie-image 4.jpg') %>">
    <img src="<%= asset_path('selfie-image 5.jpg') %>">
</div>             <!-- ************  /5 image strip, for desktop  ************  -->

<div class="small-selfie-strip">
    <img src="<%= asset_path('selfie-image 1.jpg') %>", class="sml-selfieimg1">
    <img src="<%= asset_path('selfie-image 3.jpg') %>", class="sml-selfieimg2">
    <img src="<%= asset_path('selfie-image 4.jpg') %>", class="sml-selfieimg3">
</div>       <!-- ************  /3 image strip, for small devices and touch  ************  -->





             <!-------------------------------------------->
             <!--          Branded Selfies CTA           -->
             <!--------------------------------------------> 


<!--<div class="maincta-teal-bg center">-->
<!--    <h2>Want branded selfies</br>at your next event?</h2></br>-->
<!--    <a class="book-now-button" href="">Book it Now</a>-->
<!--</div>               <!-- ************  /Branded Selfies CTA Section  ************  -->

<div class="selfie-form-div">
    <div class="selfie-form-text">
        <h2>Want branded selfies</br>at your next event?</h2></br>
    </div>
    <div class="selfie-form-section">
        <a class="selfiehire-button enquire-button"><span>Enquire Now</span></a>
        <p class="selfie-form-scrollpoint"><%= image_tag('close-icon-white.png') %></p>
        <%= render partial: 'contacts/partials/form', locals: { contact_type: 'selfie_hire' } %>
    </div>
</div>





             <!-------------------------------------------->
             <!--          Live Feed CTA                 -->
             <!--------------------------------------------> 



<div class="livefeedcta-bg center">
    <h2>Like branded selfies?</br>check out our gifgif!</h2></br>
    <a class="gif-enquire-button" href="">gifgif booth</a>
</div>                <!-- ************  /Live Feed CTA   ************  --> 


