 
             <!-------------------------------------------->
             <!--         Selfies Nav and hero image     -->
             <!-------------------------------------------->


<div class="selfies-hero-image-container group">
    <%= render 'layouts/navigation' %>
    <img id="selfie-foreground-hero" src="<%= asset_path( 'Selfie-hero-foreground.png') %>" class="responsive-img">
</div>      
             <!-- ************  /Selfies Nav and hero image  ************  -->
             
             
 
             <!-------------------------------------------->
             <!--         Selfies Icon Section     -->
             <!-------------------------------------------->             
             

<div class="round-shadow">
    <div class="container">
        <div class="content1-quote">
            <h2 class="center">Clever Content Creation</h2>
        </div>
    </div>
</div>


<div class="icon_section">
    <div class="row">
        <div class="col s12 m12 l4 icon-block-1">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'selfie-icon-shoot.png' ) %>"></i></h2>
            <h5 class="center"><strong>SHOOT</strong> a photo with</br>our selfie machine</h5>
    
            <p class="light"></p>
          </div>
        </div>
    
        <div class="col s12 m12 l4 icon-block-2">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"><img src="<%= asset_path( 'selfie-icon-share.png' ) %>"></i></h2>
            <h5 class="center">Consumers <strong>SHARE</strong></br>to your Facebook</br>or Twitter page</h5>
             
            <p class="light"></p>
          </div>
        </div>
    
        <div class="col s12 m12 l4 icon-block-3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons"></i><img src="<%= asset_path( 'selfie-icon-engage.png' ) %>"></h2>
            <h5 class="center">Drive <strong>ENGAGEMENT</strong></br>through likes & shares</h5>
     
            <p class="light"></p>
          </div>
        </div>
    </div>
</div>                       
            <!-- ************  /ICON SECTION  ************  -->
            
            
             <!-------------------------------------------->
             <!--              Teal Section              -->
             <!-------------------------------------------->             
            
            
           
<div class="section-teal-bg center flow-text">
    <h2>Collaborate with consumers</br>to create personalised selfies</br>endorsing your brand.</h2>
</div>

            <!-- ************  /Teal Section  ************  -->
            
            
<div class="selfie-blurb-on-image">
    <img src="<%= asset_path('selfie-blurb-on-image.png')%>">
    <div class="selfie-blurb-text flow-text center">
        <h2>roaming photography,</br>instantly shared.</h2></br>
        <p>Take the experience to your event attendees with our roaming photography solution, perfect for large events.</br></br>Photos are branded and ready to be shared instantly to Twitter or Facebook to drive engagement and social reach.</p>
    </div>
</div>
 
 