<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<title>Live Digital Experiences - Social Playground</title>
	<meta content="Live Digital Experiences for brand activations, corporate events and weddings." name="description">
</head>
<body>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
